*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}
body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

/* ESQUERDA */
.instagram-wrapper{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}
.instagram-phone{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;

}
.instagram-phone img{
    height: 50rem;
}
.photos{
    position: absolute;
}
.first_photo{
    position: absolute;
    left: 80px;
    top: 25px;
    z-index: 1;
}
.second_photo{
    position: relative;
    top: 10px;
}
/* DIREITA */
.instagram-continue{
    display: flex;
    align-items: center;    /* fica no horizontal com o column */
    justify-content: space-around;  /* fica no vertica com o column */
    flex-direction: column;
    min-width: 50%;
    min-height: 34rem;
}
    /* usando o flex-direction:column; os alinhamentos mudam de direção */
.group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 50%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}
.group:nth-child(1){
    min-height: 19rem;
}
.instagram-logo {
    height: 3rem;
}
.profile-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}
.profile-photo img{
    height: 6rem;
    width: 6rem;
}
.instagram-login{
    background-color: #0095f6;
    color: #fff;
    padding: 8px;
    border-radius: 4px;
}
.instagram-logout{
    color: #0095f6;
    margin-top: 1rem;
}
.not-accont{
    color: rgb(160,160,160);
}
.link-blue{
    color: #0095f6;
}

/* BUTTONS DOWNLOAD */
.get-the-app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}
.download{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}
.app-download{
    height: 3rem;
    width: 10rem;
    background-size: cover;
}
.app-download:nth-child(1){
    background-image: url("/img/applebutton.png");
}
.app-download:nth-child(2){
    background-image: url("/img/googleplaybutton.png");
}

/* RESPONSIVO */
@media (max-width:1024px){  /* até 1024px */
    .instagram-wrapper{
        width: 90%;
    }
    .group{
        min-width: 60%;
    }
}

@media (min-width:650px) and (max-width:769px){
    .instagram-phone{
        width: 40%;
    }
    .instagram-continue{
        position: relative;
        left: 50px;
        width: 60%;
    }
}

@media (max-width:650px){  /* até 650px */
    body{
        background-color: #fff;
    }
    .group{
        border: none;
        width: 80%;
    }
    .instagram-wrapper{
        width: 90%;
    }
    .instagram-phone{
        display: none;
    }
    .instagram-continue{
        width: 100%;
    }
    .download{
        flex-wrap: wrap;
    }
    .app-download{
        margin: 10px;
    }
}